
.section
{
    display: flex;
    flex-flow: wrap;
    width: 75%;
}
.item
{
    background-color: #EDEDED;
    border: 1px solid grey;
    margin:14px;
    padding:2rem;
    text-align: center;
}


